@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-width: 100%;
  margin: 0;
  background: #fff;
  overscroll-behavior: none;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  overscroll-behavior: none;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
